nav {
    display: flex;
    gap: 20px;
    padding-left: 2rem;
    padding-top: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

nav a:hover {
    color: #ccc;
}

.active {
    background-color: black;
    color: #fff;
}